<div class="content">         
  <div class="row d-flex justify-content-center my-3">    
    <div class="d-flex justify-content-center col-6 border p-2">
      <img src="./assets/img/cine3.jpg" class="card-img-top" >
      <div class="mx-2 ">
        <h5 class="card-title text-center">CRUD de Peliculas</h5>
        <p class="card-text text-center">Esta es una aplicacion donde se simula tener un catalogo de peliculas, se presentan en una tabla el titulo, synopsis, año y cover de cada una de las peliculas. Asi mismo podras añadir, eliminar y editar los registros que tu quieras.</p>
      </div>
    </div>
  </div>       
  <router-outlet></router-outlet>   
  <!-- <app-movie></app-movie> -->
</div>
    